# Sensitive environment files
.env
*.env

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary and backup files
*.tmp
*.temp
*.bak
~$*.xlsx
*.autosave

# VS Code settings
.vscode/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Private datasets
data/private/

# Power BI autosave files
*.pbix.autosave
*.pbix.lock